<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>
<header>
    <span th:replace="~{home :: navbar}"></span>
</header>
<div class="container mt-4">
    <h2 class="text-align-center">Liste des offres d'emploi</h2>
    <a href="/addFormOffreEmploi" class="btn btn-outline-primary mb-3 mt-5 text-end">Ajouter une offre d'emploi</a>
    <table class="table table-dark text-center align-middle">

        <thead>
        <tr>
            <th>Id</th>
            <th>Intitulé</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="offre : ${offres}">
            <td th:text="${offre.id}"></td>
            <td th:text="${offre.intitule}"></td>
            <td th:text="${offre.description}"></td>

            <td>
                <a th:href="@{/deleteOffreEmploi(id=${offre.id})}" class="btn btn-danger">
                    Supprimer
                </a>
                <a th:href="@{/updateOffreEmploi(id=${offre.id})}" class="btn btn-success me-2">Modifier</a>

            </td>



        </tr>

        </tbody>

    </table>


</div>
</body>
</html>